@model HospSimWebsite.Models.QueueViewModel

@{
    ViewBag.Title = "Queue";
    Layout = "_Layout";
}
<html lang="en">
    <head>
        <title>Queue</title>
        <script>
            var patients = JSON.parse('@Html.Raw(Json.Serialize(Model.Patients))');
        </script>
        <script src="~/js/queue.js" asp-append-version="true"></script>
    </head>
    <body>
        <button onclick="startQueue(patients)">Klik hier, bich</button>
    </body>
</html>