@model HospSimWebsite.Models.QueueViewModel

@{
    ViewBag.Title = "Queue";
    Layout = "_Layout";
}
<html lang="en">
    <head>
        <title>Queue</title>
        <script src="~/js/queue.js" asp-append-version="true"></script>
    </head>
    <body>
        <button onclick="startQueue( JSON.parse(@Html.Raw(Json.Serialize(Model.Patients)) ) )">Klik hier, bich</button>
    </body>
</html>