@{
    ViewData["Title"] = "Details";
}

@model HospSimWebsite.Models.PatientsModel


<html lang="en">
    <head>
        <title>Patient lookup</title>
    </head>
    <body>
    <div>
        <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Disease</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Patient patient in Model.Patients)
        {
            <tr>
                <th scope="row">@Model.Patients.IndexOf(patient)</th>
                <td>@patient.Name</td>
                <td>@patient.Age</td>
                <td><a asp-controller="Home" asp-action="Index">@patient.Disease.ToString()</a></td>
            </tr>
        }
        </tbody>
        </table>

    </div>
    </body>
</html>