@{
    ViewBag.Title = "Account";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Fairbanks | Form Submitted</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div>
    <h2>Welcome, @Model.Name.</h2>
    <h5 class="submitmaintext" >Welcome to my domain.</h5>
</div>
</body>
</html>