@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Fairbanks | Form Submitted</title>
</head>
<body>
<div>
    <h2>Welcome, @Model.Name</h2>
</div>
</body>
</html>