@{
    ViewData["Title"] = "Home Page";
    
}
@model HomeViewModel

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/site.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Fairbanks | Patient Registration</title>
    <div class="card" style="display: inline-block; width: 18rem;">
        <div class="text-body" >
            <h5 class="card-title">Patients</h5>
            <p class="card-text">We currently have @Model.PatientCount registered.</p>
        </div>
    </div>
    <div class="card" style="display: inline-block; width: 18rem;">
        <div class="text-body">
            <h5 class="card-title">Disease Database</h5>
            <p class="card-text">We currently have @Model.DiseaseCount diseases registered, and counting.</p>
        </div>
    </div>
    
</head>
<body>
<div>
    <h3>Welcome to Fairbanks | Hospital.</h3>
    <a asp-controller="Form" asp-action="Index">Register patient.</a>
</div>
</body>
</html>
