@{
    ViewData["Title"] = "Home Page";
    
}
@model HospSimWebsite.Models.FormModel

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Fairbanks | Patient Registration</title>
</head>
<body>
<div class="card-header">
    <h2 class="title"><span id="hospitalname">Fairbanks</span> | Patient Registration </h2>
</div>

<div class="formmain">
    <form asp-controller="Form" asp-action="Submit" method="post">
        <div class="form-group">
            <label>Name</label>
            <input id="inputName" asp-for="Name" type="text" class="form-control" placeholder="Jack Something">
        </div>
        <label>Adress</label>

        <div class="form-group" id="adressform">
            <div id="adressdiv">
                <input asp-for="AdressText" type="text" class="form-control">
            </div>
            <div id="housenumdiv">
                <input asp-for="AdressNum" type="number" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
            <label>Diagnosis (Doctor approval only)</label>
            <select asp-for="Disease" class="form-control" id="inputDisease">
                @foreach (var disease in Model.Diseases)
                {
                    <option>@disease.ToString()</option>
                }
            </select>
        </div>
        
        <div>
            <button type="button" onclick="checkFormInput()" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
