@page
@model HospSimWebsite.Views.Home.Submit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Submitted</title>
    </head>
    <body>
        <div>
            <h2>Submitted.</h2>
        </div>
    </body>
</html>