@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2>Oopsie woopsie, we did a fucky wucky. Our code monkwies are wurking vewwy hard to wesolve the issuow. owo</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<p>
    <strong>@Model.ErrorInformation</strong>
</p>