/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

#layoutTitle {
  color: purple;
}

#hospitalname {
  color: purple;
}

.title {
  align-content: center;
  text-align: center;
  color: grey;
  font-family: Calibri, "Times New Roman", serif;

}

.formmain {
  height: 300px;
  align-content: center;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

.welcomeMsgFadeIn {
  size: 50px;
}

.navbar-theme {
  background-color: lightgrey;
}

.patientSearchBar {
  width: 100%;
  height: 50px;
}

.patientSearchBar input {
  width: 70%;
  display: inline-block;
  float: left;
  height: 40px;
}

.patientSearchBar button {
  width: 25%;
  display: inline-block;
  float: right;
  height: 40px;
}

.undernavbarline {
  background-color: purple;
  width: 100%;
  height: 5px;
}

.undernavbar {
  width: 100%;
  height: 20px;
}

#adressdiv {
  width: 70%;
  float: left;
}

#housenumdiv {
  width: 25%;
  float: right;
}

#adressform {
  height: 70px;
}


