@using HospSimWebsite.Model
@model HospSimWebsite.Models.DiseaseViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<div class="card float-left diseaseCard">
    <div id="diseaseCardText">
        <h2 class="card-title">@Model.Name</h2>

        <h3 class="card-text small">@Model.Description</h3>
    </div>
</div>

<div class="card float-right patientCard">
    <table class="table diseasetable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Patients</th>
        </tr>
        </thead>
        <body>
    
        @foreach (Patient patient in Model.Patients)
        {
            <tr>
                <th scope="row">@patient.Id</th>
                <td>@patient.Name</td>
            </tr>
        }
        </body>
    </table>
</div>

